In [1]:
import os
#os.chdir("C:/Users/Mohan/Desktop/Data Sets")

In [2]:
# import pandas
import pandas as pd

# read the dataset
df = pd.read_csv('Breast Tissue.csv')

df.head()

,Case #,Class,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
0,1,car,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334
1,2,car,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776
2,3,car,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449
3,4,car,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701813
4,5,car,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503

In [3]:
print(df.shape)

num_of_classes = len(df.Class.unique())
print(num_of_classes)

df.describe()

(106, 11)
6

,Case #,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
count,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000
mean,53.500000,784.251618,0.120133,0.114691,190.568642,7335.155161,23.473784,75.381258,166.710575,810.638127
std,30.743563,753.950075,0.068596,0.101347,190.801448,18580.314212,23.354672,81.345838,181.309580,763.019135
min,1.000000,103.000000,0.012392,-0.066323,19.647670,70.426239,1.595742,7.968783,-9.257696,124.978561
25%,27.250000,250.000000,0.067413,0.043982,53.845470,409.647141,8.180321,26.893773,41.781258,270.215238
50%,53.500000,384.936489,0.105418,0.086568,120.777303,2219.581163,16.133657,44.216040,97.832557,454.108153
75%,79.750000,1487.989626,0.169602,0.166504,255.334809,7615.204968,30.953294,83.671755,232.990070,1301.559438
max,106.000000,2800.000000,0.358316,0.467748,1063.441427,174480.476200,164.071543,436.099640,977.552367,2896.582483

In [4]:
#Define Input and Output
#Take the 9 features as input X and class as output Y.
# split train input and output data
X = df.drop(axis=0, columns=['Class', 'Case #'])
Y = df.Class

#Print the shape of X and Y
print(X.shape)
print(Y.shape)

(106, 9)
(106,)

In [5]:
#Split data into Training set and Test set
from sklearn.model_selection import train_test_split

# Split into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [6]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\abhilashmandadhi\anaconda3\lib\site-packages (0.90)
Requirement already satisfied: numpy in c:\users\abhilashmandadhi\anaconda3\lib\site-packages (from xgboost) (1.16.5)
Requirement already satisfied: scipy in c:\users\abhilashmandadhi\anaconda3\lib\site-packages (from xgboost) (1.3.1)

In [7]:
#Create and Fit a Calssification Model
#Build a multiclass-gradient boost classifier using xgboost library
from xgboost import XGBClassifier

# Create a classifier
xgb = XGBClassifier(booster='gbtree', objective='multi:softprob', random_state=42, eval_metric="auc", num_class=num_of_classes)

# Fit the classifier with the training data
xgb.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, eval_metric='auc',
              gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, num_class=6, objective='multi:softprob',
              random_state=42, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
              seed=None, silent=None, subsample=1, verbosity=1)

In [8]:
#Apply model on Test dataset
#Use ROC AUC as the evluation metric
from sklearn.metrics import roc_auc_score
from sklearn import preprocessing

# Use trained model to predict output of test dataset
val = xgb.predict(X_test)

lb = preprocessing.LabelBinarizer()
lb.fit(y_test)

y_test_lb = lb.transform(y_test)
val_lb = lb.transform(val)

roc_auc_score(y_test_lb, val_lb, average='macro')

0.835727969348659

In [9]:
#Visually compare output
output = pd.DataFrame()
output['Expected Output'] = y_test
output['Predicted Output'] = val
output.head()

    Expected Output Predicted Output
100             adi              adi
10              car              car
4               car              car
81              con              con
97              adi              adi